{% include "leftmenu.html" %}

<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Health Data</title>
<style>
  .container {
    background-color: #FFFFCC; /* Pale yellow background */
    padding: 20px;
    border-radius: 15px;
    width: fit-content;
    margin: auto;
  }
  .box {
    width: 200px;
    height: 150px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
  }
  .green {
    background-color: lightgreen;
  }
  .orange {
    background-color: orange;
  }
  .red {
    background-color: lightcoral;
  }

</style>
</head>
<body>

<div class="container">
  <div class="box {% if 45 <= RecentHeartRateofUser <= 65 %}green{% elif RecentHeartRateofUser < 35 or RecentHeartRateofUser > 80 %}red{% else %}orange{% endif %}">
    <h2>Heart Rate</h2>
    <hr>
    <p>Most Recent Value: <strong><em>{{ RecentHeartRateofUser }} bpm</em></strong></p>
    <hr>
    {% if 45 <= RecentHeartRateofUser <= 65 %}
        <p>Looks good!<p>
    {% elif RecentHeartRateofUser < 45 or RecentHeartRateofUser > 75 %}
        <p>Immediate Care needed!</p>
    {% else %}
        <p>Care Needed</p>
    {% endif %}
  </div>

  <div class="box {% if 45 <= RecentHeartRateofUser <= 65 %}green{% elif RecentHeartRateofUser < 45 or RecentHeartRateofUser > 75 %}red{% else %}orange{% endif %}">
    <h2>Blood Pressure</h2>
    <hr>
    <p>Most Recent Value: </strong><em>{{RecentBPOfUser}}</strong></em></p>
    <hr>
    {% if 45 <= RecentHeartRateofUser <= 65 %}
        <p>Looks good!</p>
    {% elif RecentHeartRateofUser < 45 or RecentHeartRateofUser > 75 %}
        <p>Immediate Care needed!</p>
    {% else %}
        <p>Care Needed</p>
    {% endif %}
  </div>

  <div class="box {% if 36.4 <= RecentTempOfUser <= 37.5 %}green{% elif RecentTempOfUser < 34 or RecentTempOfUser > 39.2 %}red{% else %}orange{% endif %}">
    <h2>Temperature</h2>
    <hr>
    <p>Most Recent Value: <strong><em>{{RecentTempOfUser}}°C</em></strong></p>
    <hr>
    {% if 36.4 <= RecentTempOfUser <= 37.5 %}
        <p>Looks good!</p>
    {% elif RecentTempOfUser < 34 or RecentTempOfUser > 39.2 %}
        <p>Immediate Care needed!</p>
    {% else %}
        <p>Care Needed</p>
    {% endif %}
  </div>
</div>


</body>
</html>
